body {
  background-color: rgb(143, 22, 22);
}
div {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 30px;
}
.portada img {
  height: 500px;
}
.titulo p {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: 60px;
  color: rgb(240, 207, 98);
}
.enlace a {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 20px;
  color: rgb(250, 206, 8);
}
.contenido p {
  font-family: "Times New Roman", Times, serif;
  font-size: 35px;
  color: rgb(231, 220, 172);
}
.contenido img {
  height: 400px;
}
.contenido2 img {
  height: 350px;
  margin-right: 10px;
}
.contenido2 p {
  font-family: "Times New Roman", Times, serif;
  font-size: 25px;
  color: rgb(231, 172, 172);
}
.contenido3 img {
  height: 400px;
  margin: 10px;
}
.contenido3 p {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 25px;
  color: rgb(255, 170, 101);
}
